.App {
  text-align: center;
  font-size: 24px;
  color: #26d5c3;
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
h1 {
  margin: 0;
}
button {
  background-color: #26d5c3;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
table {
  margin: 0 auto;
}
input {
  padding: 7px 40px;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  font-size: 14px;
  font-family: Gloria Hallelujah, handwriting;
  color: #269ed5;
}
